/*font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #ffe9e3;
  --secondary-color: #c4c1e0;
  --tertiary-color: #7c73e6;
}

body {
  background-color: #fafafa;
  font-family: "Playfair Display", serif;
}

.navbar {
  background-color: var(--primary-color);
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  justify-content: stretch;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  width: 100%;
}

h1 {
  font-size: 72px;
  margin: 10px;
}

h2 {
  font-size: 48px;
  margin: 10px;
}

.projects {
  margin-top: 30px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.project-images {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  border-radius: 30px;
}

.project-buttons {
  border: solid 1px;
}

.social-link {
  font-size: 50px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
    line-height: 0.5;
  }

  h2 {
    font-size: 28px;
  }

  .projects {
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
}
