/*font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;*/

.navbar {
  background-color: whitesmoke;
}

.hero {
  font-family: "Playfair Display", serif;
  text-align: center;
  background-color: antiquewhite;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}
