:root {
  --primary-color: #ffe9e3;
  --secondary-color: #c4c1e0;
  --tertiary-color: #7c73e6;
}

body {
  background-color: #fafafa;
  font-family: "Playfair Display", serif;
}

.navbar {
  background-color: var(--primary-color);
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  justify-content: stretch;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  width: 100%;
}

h1 {
  font-size: 72px;
  margin: 10px;
}

h2 {
  font-size: 48px;
  margin: 10px;
}

.projects {
  margin-top: 30px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

.photography {
  padding-top: 75px;
}

.portfolio {
  padding-top: 75px;
}

.project-images {
  width: 700px;
  height: auto;
  padding-bottom: 20px;
  display: flex;
}

.project-buttons {
  border: solid 1px;
  background-color: var(--tertiary-color);
  color: #fafafa;
  transition: 250ms;
}

.project-buttons:hover {
  background-color: #fafafa;
  color: var(--tertiary-color);
}

.social-link {
  font-size: 50px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
    line-height: 0.5;
    text-align: center;
  }

  h2 {
    font-size: 28px;
  }

  .projects {
    font-size: 20px;
  }

  .photography {
    padding-top: 5px;
  }

  .weather {
    padding-top: 75px;
  }

  .my-photo {
    max-width: 200px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .about-text {
    text-align: center;
    margin-top: 50px;
  }

  .cert-h2 {
    font-size: 40px;
  }

  .project-page-img {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
}

.about-me-h1,
.projects-h1,
.contact-h1 {
  margin-top: 100px;
  text-align: center;
}

.about-text {
  font-size: 20px;
}

.projects-link {
  display: flex;
  justify-content: center;
}
